@charset "UTF-8";
/* CSS Document */

header {
	height: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	min-width: 300%;
		max-width: 300%;
	background: lightsalmon;
	color: #FFD594;
	display: block;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 20px;
}

.wrapper {
	width: 970px;
	max-width: 1000px;
	padding: 20px 40px;
	margin: 0 auto;
	border: 0px;
	background: white;
	box-shadow: 0 5px 8px 2px #29364c91;
}

  h1{ 
	  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	  color: #FFD594;
	  font-size: 30px;
}

h2{
    font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
	font-size: 20px;
}

body{
	background-color: #84ECFF;
	margin-left: 12px;
	  padding-left: 12px;
	margin-right: 12px;
	  padding-right: 12px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 12px;
}


        .gallery-grid {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-row-gap: 20px ;
            justify-items: center;
            align-items: start;
            justify-content: space-between;
        }

.table {
	border: 1px #F493C0;
	width: 100%;
}


  
