@charset "UTF-8";
/* CSS Document */

header {
	height: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	min-width: 300%;
		max-width: 300%;
	background: lightsalmon;
	color: #FFD594;
	display: block;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 20px;

}
  h1{ 
	  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	  color: #FFD594;
	  font-size: 30px;
	
}
h2{
    font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
	font-size: 20px;

}
body{
	background-color: #84ECFF;
	margin-left: 12px;
	  padding-left: 12px;
	margin-right: 12px;
	  padding-right: 12px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 12px;
	
}

.gallery {
	width: 970px;
	display: grid;
	grid-template-columns: repeat(3, 100px);
	gap: 30px;
	justify-content: center;
	margin: 0 -10px;
	text-align: center;
}

        .gallery-grid {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-row-gap: 20px ;
            justify-items: center;
            align-items: start;
            justify-content: space-between;
        }

.table {
	border: 1px #F493C0;
	width: 100%;
}


  
